* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-size: 50px;

}

.header {

    min-height: 700px;
    width: 100%;
    background-image: url(images/donation15.png);
    background-position: center;
    background-size: cover;
    position: relative;

}

.text-box {
    width: 90%;
    color: whitesmoke;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;

}

.text-box p {
    margin: 10px 0 40px;
    font-size: 14px;
}

.link-button {
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    color: white;
    font-weight: 700;
    padding: 10px 40px;
    border-radius: 5px;

}

h2 {
    font-size: 40px;
    font-weight: 700px;
}


.donate-amount {
    width: 80%;
    margin: 80px auto;
    text-align: center;

}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto auto;


}

.grid-amount {

    padding: 50px;
    text-align: center;
}

.grid-fixed-amount {
    background-color: gray;
    border-color: tomato;
}