* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-size: 50px;

}

.button {
    text-decoration: none;
    background-image: linear-gradient(tomato, tomato);
    text-align: center;
    color: white;
    font-weight: 700;
    padding: 10px 50px;
    border-radius: 5px;
    margin-top: 20px;
}


.text-padding {
    padding: 0% 30% 0% 30%;

}

.center-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}


.flexible {
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-center {
    text-align: center;
}

#header {
    display: flex;
    width: 100%;
    height: 680px;
    background-image: url(images/donation15.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0px;
}

.box-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5% 20%;
    text-align: center;
    background: linear-gradient(360deg, #121212 0%, rgba(18, 18, 18, 0));

}



.hero-heading {
    color: white;
    font-weight: 700;
    font-size: 65px;
    text-align: center;
    margin-bottom: 20px;
}

.hero-sub-text {
    font-size: 18px;
    color: white;
    text-align: center;
    padding: 0% 12%;
}

#donate-today {
    display: flex;
    flex-direction: column;
    font-weight: 500;
    font-size: 20px;
    padding: 5% 0% 7%;
}


.amount-box {
    display: flex;
    width: auto;
    margin: 1% 0%;
    justify-content: center;
}

.amount-item {
    padding: 25px 10px;
    font-size: 30px;
    font-weight: 700;
    margin: 0px 20px;
    background: #f6f6f6;
    border-radius: 5px;

}

#amount-active {
    background: #FFEEEE;
    border: 2px solid #FF5959;
    border-radius: 5px;
    color: #FF5959;
}

.custom-amount {
    margin-bottom: 30px;
}

.custom-input {
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    padding: 8px 15%;
    border: none;
    border-bottom: 1px solid #DADADA;
}

#donate-plan {
    padding: 0% 10%;
}

.item-padding {
    padding: 2% 0%;
}

.donate-plan-item {
    padding: 6% 2%;
    width: 31%;
    margin: 0% 1%;
    border-radius: 5px;
    box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.1);
}

#food {
    background: #4F9DA61A;
    border: 1px solid #4F9DA65a;
}

#shelter {
    background: #FF59591A;
    border: 1px solid #ff59595a;
}

#education {
    background: #FFF4D6;
    border: 1px solid #dfaa1785;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4% 5%;
}

.half-width {
    width: 100%;
}

.half-width img {
    width: 95%;
    border-radius: 5px;
    box-shadow: 10px 10px 10px 0px rgba(0, 0, 0, 0.3);

}


.half-width img {
    box-shadow: none;
    margin-left: 10px;
    margin-right: 60px;


}


#help {

    justify-content: center;
    align-items: center;
    background-image: url(images/donation5.jpg);
    background-repeat: no-repeat;
    background-size: cover;


}

.content {
    padding: 4% 10%;
    background: #121212c8;
}

#help-heading {
    color: white;
    text-align: center;
}

#help-sub-text {
    color: #cbcbcb;
    text-align: center;
}

.help-box {
    display: flex;
    justify-content: center;
    align-items: center;
}

.help-item {
    width: 25%;
    background: rgba(3, 3, 3, 0.4);
    padding: 3% 2%;
    margin: 1%;
    text-align: center;
    border: 2px solid white;
    border-radius: 5px;
    box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.1);
}

.help-item h4 {
    color: white;
    font-size: 20px;
}

.help-item p {
    color: #cbcbcb;
}

#newsletter {
    padding: 5% 4%;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.bg-grey {
    margin-top: 20px;
}

.newsletter-box {
    padding: 6% 2%;
    width: 100%;
    margin: 0% 15%;
    border-radius: 5px;
    box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.1);
    text-align: center;
    background-color: #FFF4D6;
    align-items: center;
    margin-top: 10px;
}

.newsletter-box a {

    font-weight: 500;
    font-size: 18px;
    background: #FF5959;
    color: white;
    text-decoration: none;
    padding: 16px 50px;
    border-radius: 0px 5px 5px 0px;
    margin-left: -5px;
    border: 2px solid #FF5959;
    background: #D9D9D9;
    color: #FF5959;
}

.newsletter-box a {
    background: tomato;
    color: white;
    border: 1px solid #FF5959;
}

.newsletter-box input {

    font-weight: 400;
    font-size: 16px;
    color: #AA9F9F;
    background: #D9D9D9;
    padding: 20px 60px 18px;
    border-radius: 5px 0px 0px 5px;
    border: none;
    align-items: center;
    justify-content: center;
}

.newsletter-box input:focus {
    outline: none;
    color: tomato;
}

footer {
    text-align: center;
    background-color: #121212;
    padding: 30px;
    margin: 0%;
}

footer h2 {
    color: #FF5959;
    font-family: 'Lobster';
    font-weight: 400;
    font-size: 36px;
    margin: 0%;
}

footer p {

    color: white;
    font-size: 13px;
}